---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content'; 
import PostContent from '../components/blog/PostContent.jsx';
import LockedPostContent from '../components/locked/LockedPostContent.jsx';
import '../styles/global.css';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post: CollectionEntry<'blog'>) => ({ 
    params: { slug: post.slug }, 
    props: { post },
  }));
}

interface Props {
  post: CollectionEntry<'blog'>;
}


const { post } = Astro.props;
const isLocked = Array.isArray(post.data.passwords) && post.data.passwords.length > 0;


const { Content } = isLocked ? { Content: null } : await post.render();

const postMeta = {
  id: post.slug,
  title: post.data.title,
  date: post.data.date,
  tags: post.data.tags,
  excerpt: post.data.excerpt,
  passwords: post.data.passwords ?? [],
  alasan: post.data.alasan ?? null,
};


const canonicalURL = `https://blog.zamsputra.my.id/${post.slug}`;


const ogImage = `https://blog.zamsputra.my.id/og-default.png`;


const jsonLd = JSON.stringify({
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": post.data.title,
  "description": post.data.excerpt,
  "datePublished": post.data.date,
  "author": {
    "@type": "Person",
    "name": "Zams Putra",
    "url": "https://zamsputra.my.id"
  },
  "url": canonicalURL,
  "keywords": post.data.tags.join(', '),
  "publisher": {
    "@type": "Person",
    "name": "Zams Putra"
  }
});
---

<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      

    <title>{post.data.title} - Zams Putra</title>
    <meta name="description" content={post.data.excerpt} />
    <meta name="author" content="Zams Putra" />
    <meta name="keywords" content={post.data.tags.join(', ')} />
    <link rel="canonical" href={canonicalURL} />


    <meta property="og:type" content="article" />
    <meta property="og:title" content={post.data.title} />
    <meta property="og:description" content={post.data.excerpt} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={ogImage} />
    <meta property="og:site_name" content="Zams Putra Blog" />
    <meta property="og:locale" content="id_ID" />
    <meta property="article:published_time" content={post.data.date} />
    <meta property="article:author" content="Zams Putra" />
    <meta property="article:tag" content={post.data.tags.join(', ')} />


    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={post.data.title} />
    <meta name="twitter:description" content={post.data.excerpt} />
    <meta name="twitter:image" content={ogImage} />
    <meta name="twitter:creator" content="@zamsputra" />


    {isLocked ? (
      <meta name="robots" content="noindex, nofollow" />
    ) : (
      <meta name="robots" content="index, follow" />
    )}

    {!isLocked && (
      <script type="application/ld+json" set:html={jsonLd} />
    )}

    <link rel="icon" type="image/x-icon" href="/img/salad.jpg" />
  </head>
  <body>
    {isLocked ? (
      <LockedPostContent post={postMeta} client:load />
    ) : (
      <PostContent post={postMeta} client:load>
        {Content ? <Content /> : null}
      </PostContent>
    )}
  </body>
</html>
